# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit secrets
.streamlit/secrets.toml
!.streamlit/secrets.toml.example

# Virtual environments
venv/
env/
ENV/

# Scratch & temporary test scripts
scratch/

# Distribution / packaging
.dist/
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp
